@use "../utilities/variables";

.formGabi {
    margin: 50px auto 100px;
    text-align: right;
}

.formGabi .form-control:focus {
    box-shadow: 0 0 0 .25rem rgba(255,255,255,.25);
}

.textareaGabi {
     height: 100px !important;
}

.btnGabi {
    border: 1px solid variables.$colorAmarillo;
    color:  variables.$colorAmarillo;
    margin: 20px 0px;
    &:hover {
        background-color: variables.$colorAmarillo;
        color: variables.$colorPlomo;
    }
}